@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

img {
    vertical-align: top;
}

a {
    text-decoration: none;
}

:root {
    font-family: "Pretendard GOV Variabl";
    --main: #0e7876;
}

header {
    margin: 0 auto;
    width: 1400px;
}

#top {
    display: flex;
    justify-content: flex-end;
}

#top a {
    display: block;
    line-height: 30px;
    padding: 0 10px;
    height: 30px;
    font-size: 14px;
    color: #757575;
    text-decoration: none;
}

#top a:hover {
    text-decoration: underline;
}

header hr {
    width: 100%;
    clear: both;
    border: 1px solid lightgray;
}

header .inner {
    height: 150px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

header #gnb>ul {
    display: flex;
    gap: 16px;
}

header #gnb li {
    position: relative;
}

header #gnb .menu {
    font-size: 22px;
    color: #333;
    font-weight: bold;
    letter-spacing: -1px;
    display: block;
    padding: 20px;
    text-decoration: none;
    position: relative;
}

header #gnb .menu:hover {
    color: var(--main);
}

header #gnb .menu::before {
    border-radius: 50%;
    top: 20px;
    left: 50%;
    margin-left: -3px;
    position: absolute;
    width: 6px;
    height: 6px;
    background: var(--main);
    opacity: 0;
    content: "";
}

header #gnb li .menu:hover::before {
    opacity: 1;
    top: 10px;
    transition: all 0.2s;
}

header #gnb li .sub {
    position: absolute;
    border: 1px solid var(--main);
    top: 65px;
    left: 0;
    background: #fff;
    border-radius: 16px;
    padding: 30px 20px;
    width: 250px;
    box-sizing: border-box;
    box-shadow: 0px 0px 24px #0003;
    opacity: 0;
    visibility: hidden;
}

header #gnb li:hover .sub {
    top: 60px;
    transition: all .3s;
    ;
    opacity: 1;
    visibility: visible;
}

header #gnb li .sub a {
    font-size: 18px;
    line-height: 30px;
    color: #333;
    font-weight: bold;
    padding-left: 25px;
}

header #gnb li:nth-child(3) .sub {
    left: -10px;
}

header #gnb li:nth-child(4) .sub {
    left: -86px;
}

header #gnb li:nth-child(5) .sub {
    left: -66px;
}

header #gnb li .sub a:hover {
    color: var(--main);
}

header #gnb li .sub a:hover:before {
    content: "";
    width: 6px;
    height: 6px;
    background: var(--main);
    border-radius: 50%;
    position: absolute;
    top: 11px;
    left: 6px;
}

.login {
    display: flex;
    gap: 15px;
}

main .inner {
    width: 1400px;
    margin: 0 auto;
    border: 5px solid #000;
}

#main_veiw{
  width: 1400px;
  height: 550px;
}
#main_veiw .swiper-pagination{
    width: auto;
}

#search {
    margin: 60px 0;
    padding: 5px 20px 5px 30px;
    border: 1px solid var(--main);
    border-radius: 16px;
    box-shadow: 0 0 16px #0001;
}

#search p {
    display: flex;
}

#search input {
    border: 0;
    font-size: 18px;
    height: 60px;
    color: #3333;
    flex-grow: 1;
}

#search button {
    font-size: 0;
    width: 50px;
    border: 0;
    background: url(./images/ico-archive-search.png) no-repeat center;
}

.container {
    display: flex;
    gap: 40px;
}

#notice {
    width: 50%;
}

#notice h2 {
    font-size: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

#notice h2 b {
    font-weight: bold;
}

#notice h2 a {
    width: 49px;
    height: 49px;
    background: url("./images/more-plus.png") no-repeat center center;
    border-radius: 50%;
    font-size: 0;
}

#notice ul {
    display: flex;
    gap: 40px;
}

#notice li {
    position: relative;
    width: 50%;
    height: 350px;
    border: 1px solid #ccc;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 16px;
}

#notice li .title {
    font-size: 24px;
    color: #333;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 32px;
}

#notice li .desc {
    font-size: 16px;
    color: #666;
    line-height: 1.75;
}

#notice li .title,
#notice li .desc{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*벤더 프리픽스 : css권고 안에 포함되지않거나, 완벽하게 제정된 상태가 아닌 기능임*/

#notice li .data {
    font-size: 14px;
    color: #666;
    position: absolute;
    left: 30px;
    bottom: 30px;
}

#civil {

    width: 50%;
}

#civil h2 {
    font-size: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

#civil h2 b {
    font-weight: bold;
}

#civil h2 a {
    width: 49px;
    height: 49px;
    background: url("./images/more-plus.png") no-repeat center center;
    border-radius: 50%;
    font-size: 0;
}

#civil ul {
    display: flex;
    gap: 40px;
}

#civil li {
    width: calc(50% - 20px);
    position: relative;
}

/* 함수 계산 calc / 계산식에 사칙연산기호 앞 뒤 한칸 공백있어야함*/
#civil li .imgbox {
    border-radius: 16px;
    overflow: hidden;
    border: 1px solid #ddd;
}

#civil img {
    transition: all .3s;
    width: 100%;
}

#civil li img:hover {
    transform: scale(1.1);
}

#civil li .title {
    margin-top: 40px;
    font-size: 22px;
    font-weight: 600;
    color: #000;
    white-space: nowrap;
    /*자동 줄바꿈을 억제함 1줄로 길게 표기*/
    overflow: hidden;
    /*넘치는 영역을 숨김 그냥 자름*/
    text-overflow: ellipsis;
    /*텍스트의 넘치는 영역을 .. 말줄임표로 자름*/
}

#item {
    background: #ebf4f1;
    display: flex;
    border-radius: 16px;
    padding: 20px;
    margin: 80px 0;
    justify-content: space-between;
}

.itemlist {
    gap: 10px;
    display: flex;
    justify-content: space-between;
}

#item li img {
    border-radius: 50%;
}

#item li {
    padding: 0;
    margin: 0;
}

h2 {
    padding: 50px 0 30px;
}

#online h2 {
    font-size: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

#online h2 b {
    font-weight: bold;
}

#online h2 a {
    background: url(./images/more-plus.png) no-repeat center center;
    width: 49px;
    height: 49px;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-size: 0;
}

#online ul {
    display: flex;
    gap: 40px;
}

#online li {
    width: calc((100% - 40px * 3) / 4);
}

#online .imgbox {
    border: 1px solid #ddd;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.3s;
}

#online li:hover img {
    transform: scale(1.05);
}

#online li:hover .imgbox {
    box-shadow: 0 8px 21px #0003;
}

#online img {
    width: 100%;
    transition: all .7s;
}

#online .title {
    margin-top: 40px;
    font-size: 22px;
    font-weight: 600;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#collection{
    margin: 80px 0 120px;
}

#collection h2 {
    font-size: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

#collection h2 a {
    background: url(./images/more-plus.png) no-repeat center center;
    width: 49px;
    height: 49px;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-size: 0;
}

#collection ul {
    display: flex;
    gap: 40px;
}

#collection li {
    width: calc((100% - 40px * 2) / 3);
}

#collection .imgbox {
    border: 1px solid #ddd;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.3s;
}

#collection li:hover img {
    transform: scale(1.05);
}

#collection li:hover .imgbox {
    box-shadow: 0 8px 21px #0003;
}

#collection img {
    width: 100%;
    transition: all .3s;
}

#collection .title {
    margin-top: 40px;
    font-size: 22px;
    font-weight: 600;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.community_wrapper {
    padding-top: 60px;
    background: #14a677;
    background: linear-gradient(#14a677 70%,#fff 70%);
    position: relative;
}
.community_wrapper::before{
    content: url("./images/bg-community.png");
    position: absolute; top: -76px; right: 0;
}

#community {
    width: 1400px;
    margin: 0 auto;
    outline: 2px solid #00f;
    position: relative;
}

#community h2{
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
}
#community .sub_title{
    font-size: 24px; color: #fff; margin-bottom: 60px;
}
#community .more{
    position: absolute; top: 10px; right: 0;
    font-size: 18px; font-weight: bold; background: #ffd044;
    padding: 0 20px; height: 60px; line-height: 60px;
    color: #000; border-radius: 32px 0;
}
#community .more img{
    width: 24px; ;vertical-align: -5px;
}
#community ul{
    display: flex;
}
#community li{width: calc((100% - 40px * 3) / 4);}
#community .imgbox{
    border: 1px solid #ddd; border-radius: 16px;
    overflow: hidden; transition: all .3s;
}
#community li:hover .imgbox{
    box-shadow: 0 8px 21px #0003;
}
#community li img{ 
    width: 100%; height: 240px; transition: all .3s;
    object-fit: cover;
}
#community li:hover img{
    transform: scale(1.05); 
}
#community .title{
    margin-top: 40px; font-size: 22px; 
    font-weight: 600; color: #000; 
    white-space: nowrap; overflow: hidden;
    text-overflow: ellipsis;
}
#community .info{
    margin-top: 20px;
}
#community .date{
    font-size: 14px; color: #666;
}
#community .subject{
    margin-left: 10px; color: #0e7876; font-weight: bold;
}
#community .community_prev,
#community .community_next {
    width: 65px;
    height: 65px;
    background: #f4eddd no-repeat center;
    border-radius: 50%;
    position: absolute; top: 50%; margin-top: -32.5px;
    box-shadow: 0 3px 48.45px 8.55px #000200;
    z-index: 10;
}
#community .community_prev {left: 0;
    background-image:url("./images/ico-arr-left-green.png");
}
#community .community_next {right: 0;
    background-image:url("./images/ico-arr-right-green.png");
}
#community .swiper-button-disabled{opacity: 0.3;}